project:
  type: website
  output-dir: docs

website:
  title: "The Gamble of Time"
  navbar:
    left:
      - text: Home
        href: index.qmd

format:
  html:
    theme: cosmo
    toc: true
    page-layout: article
    css: styles.css

execute:
  echo: false
  warning: false
  message: false

